/*import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

/*
wildcard selector 
add asterisc for override the default settings of the browser
it will apply to ALL the selectors
MUST be at the very top
*/
/*border box for apply the box modification to the border as well*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/*general style rules*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: Lato, sans-serif;
}
/*header style*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    /*make sure that the header will use all the width and not the content fixed default*/
    width: 100%;
    /*add the shadow and look like slightly detached from the background*/
    box-shadow: 0 2px 2px #3a3a3a;
}
 h1 {   
    font-family: Oswald, sans-serif;
}

/*main style*/
main {
    background-color: pink;
    flex: 1 0 auto;
}

/*footer style*/
footer {
    background-color: blue;
}

