/*import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

/*
wildcard selector 
add asterisc for override the default settings of the browser
it will apply to ALL the selectors
MUST be at the very top
*/


* {
    padding: 0;
    margin: 0;
    /*border box for apply the box modification to the border as well*/
    box-sizing: border-box;

}

/*general style rules*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: Lato, sans-serif;
}
h1, h2, h3 {   
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}
/*make the content hidden but available for the search engines*/
.hidden-header {
    display: none;
}
/*header style*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    /*make sure that the header will use all the width and not the content fixed default*/
    width: 100%;
    /*add the shadow and look like slightly detached from the background*/
    box-shadow: 0 2px 2px #3a3a3a;
    /*show in a row*/
    display: flex;
    /*make sure it will show in a vertical row*/
    align-items: baseline;
    justify-content: space-between;
}
/*remove the default style for the <a> and apply to all the descendent of the header*/
header a {
    text-decoration: none;
    /*color will be inherited from the body*/
    color: inherit;
}
 
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    /*remove the bullet point from the list in the nav*/
    list-style-type: none;
}

/* modified the vertical space between the list item*/
#menu > li {
    margin-bottom: 1em;
}

/*add a visual hint about the navigation*/
.active {
    border-bottom: solid 1px #3a3a3a;
}

/*dropdown menu of the header*/
nav {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 2px 2px #3a3a3a;
    /*make sure that the box take all the available space*/
    width: 100%;
    left: 0;
    padding: 0 1rem; 
    /*make the menu hidden unless the customer click on it with pseudoclass*/
    display: none;
    /*it says that the top of the child element -pseudoclass nav:checked - should start at the bottom of the parent -nav*/
    top: 100%
}
/* add the pseudoclass to the checkbox for hidden/show the menu*/
/*tilde means that it apply only to the nearest nav*/
#nav-toggle:checked~nav {
      display: block;  
}

/*hide the checkbox */
#nav-toggle {
    display: none
}

/*enlarge the content of the label - it will be an icon later*/
.nav-toggle-label {
    font-size: 2rem;
}



/*main style*/
main {
    flex: 1 0 auto;
    /*move the main content under the headers*/
    margin-top: 47px;
}

/*add the hero image as background in a specific section*/
#hero {
    height: 600px;
    width: 100%;
    /*no repetition, centered horizontally and vertically and sized itself witout distortingv(cover)*/
    background: url(../images/hero-image.webp) no-repeat center center/cover;
    /*position relative in relation to the cover text below*/
    position: relative;
}
#cover-text {
    /*rgba is rgb but with the opacity option semi-transparent*/
    background-color: rgba(241, 109, 107, 0.7);
    font-size: 130%;
    /*position absolute*/
    position: absolute;
    /*this value for the bottom position and doesnt stick directly to the bottom*/
    bottom: 30px;
    /*the following value are for the breating space not sticking directly to the edge of the screen*/
    padding-left: 10px;
    padding-top: 40px;
    min-height: 200px;
    /*width for not covering the entire width of the screen*/
    width: 80%;
}
/*color set only for the direct child of the id*/
#cover-text > h2, #cover-text >h3 {
    color: #ffffff
}
#circle-cover-bg {
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    background: url(../images/reasons-image.webp) no-repeat top center / cover;
    /*make the images circular with radius*/
    border-radius: 50%;
    /*set a maximum size for the image*/
    max-height: 300px;
    max-width: 300px;

}
#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
#reason {
    width: 90%;
    margin: 20px auto;
   }

   #reason h2 {
    font-size: 280%;
    margin-bottom: 20px;
    text-align: center;
   }
   hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
   }
   

   #benefit-physical > div, #benefit-mental > div {
    margin-bottom: 20px;
    line-height: 20px;
   }
   #benefit p {
     padding: 0 20px;
   }
/*add the dublin city image with the text */
#times {
    background: url(../images/dublin-city.webp) no-repeat center center/cover;
    display: flex;
    flex-wrap: wrap;    
}
#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
        /*flex wrap will take all the available screen and it not work in screen less than 400px*/
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;

}

#times h3 {
    /*override the default color for the h3 in general style*/
    color: #fafafa;
}
/*style for the gallery page*/
    /*adapt all the photos to the screen width*/
#gallery img {
    width: 100%;
    /*used for avoid the line height override for alt text*/
    line-height: 1em;
}
#gallery {
    /*remove the blank line between the photos (photos are considered inline text)*/
    line-height: 0;
}
/*footer style*/
#social-media {
    text-align: center;
    /*add some space in the top*/
    padding: 20px 0;
    /*distribute the icon all over vertically*/
    display: flex;
    justify-content: space-evenly;
    /*remove the bullet point*/
    list-style-type: none;

}
#social-media i {
    padding: 5%;
    font-size: 160%;
    color: #3a3a3a;

}

/*media query for larger mobile screen or landscape mode */
@media screen and (min-width: 576px) {
    /*define the number of columns in landscape mode and remove the gap between columns*/
   #gallery { column-count: 2;
    column-gap: 0;
    }
    
}

/* media query for tablets and larger screen (768px and more) the rule below will apply only to larger screens and it MUST be at the bottom of the css file*/
@media screen and (min-width: 768px) {
/*header*/
    nav {
        /*revert all the settings for the hide/view display header set for mobile*/
        display: block;
        position: relative;
        box-shadow: none;
        /*allow the content to push it to the right using flex styles applied before*/
        width: fit-content;
        /*padding right so the content will not stick to the end of the screen*/
        padding-right: 1rem;
    }
    /*show the nav menu in the same row*/
    #menu {
        display: flex;
    }
    /*add some space between the li items when shown in a single row*/
    #menu > li {
        padding-left: 1rem;
    }
    /*hide the checkbox itself and the label for the dropdown menu no longer needed*/
    .nav-toggle-label {
        display: none;
    }
    /*make the logo bigger for larger screen*/
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0,5rem;
    }
    /*push the main content down to accomodate larger screen- hidden from the bigger header*/
/*main*/
   main {
     margin-top: 79px;
   }
   /*background image and text*/
   #cover-text {
    width: 300px;
    right: 50px;
   }
   /*modified layout mental in a side and physical in the other*/
   #benefit-mental, #benefit-physical {
    display: flex;
    flex-direction: column;
    width: 100%;
   }
   #benefit-mental>div, #benefit-physical>div {
    width: 75%;

   }
   #benefit-mental > div {
    align-self: flex-end;
    align-items: end;
   }
   /*adjust the gallery page for larger screen*/
   #gallery {
    column-count: 3;
   }
  
}

/*media queries for laptop and screensize higher than 992px*/
@media screen and  (min-width: 992px) {
    #menu a:hover  {
        border-bottom: 1px solid #3a3a3a;
    }
    /*adjust the gallery page for larger screen*/
    #gallery {
        column-count: 4;
    }
    
}
/*media queries for laptop and screen bigger than 1200px*/
@media screen and (min-width: 1200px) {
    #benefit {
        display: flex;
        flex-direction: row;
    }
    #benefit > div {
        flex: 1;
    }
    /*order of the image 0 means just after the physical and before mental (flex set as row)
    same row all the elements*/
    #benefit-image {
        order: 0;
    }
    /*order 1 goes after order 0 in the same row*/
    #benefit-mental {
        order: 1;
        }
    /*arrange the content near the photos*/
    #benfit-mental > div {
        align-self: flex-start;
    }
    #benefit-physical > div {
        align-self: flex-end;
    }
}